<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestEcommerce" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="listerners.AnnotationTransformer"/>
    </listeners>
    <test name="TestEcommerce">
        <classes>
            <class name="testcases.ProductSearchTest" />
            <class name="testcases.CartContentTest" />
            <class name="testcases.CheckoutTest" />
            <class name="testcases.TestRandomData" />
            <class name="testcases.ContactUsPageTest" />
            <class name="testcases.HighestPriceForMensTest" />
            <class name="testcases.RegisterPageTest" />
        </classes>
    </test>

</suite>