<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestEcommerce" parallel="classes" thread-count="20">
    <listeners>
        <listener class-name="listerners.AnnotationTransformer"/>
    </listeners>
    <test name="TestEcommerce">
        <classes>
            <class name="testcases.ProductSearchTest" />
            <class name="testcases.CartContentTest" />
            <class name="testcases.CheckoutTest" />
            <class name="testcases.TestRandomData" />
            <class name="testcases.ContactUsPageTest" />
            <class name="testcases.HighestPriceForMensTest" />
            <class name="testcases.RegisterPageTest" />
            <class name="testcases.AboutUsPageTest" />
            <class name="testcases.HomePageFindMoreTest" />
            <class name="testcases.NumberOfProductOnSaleTest" />
            <class name="testcases.StorePageTest" />
            <class name="testcases.SoftAssertionTest"/>
            <class name="testcases.WomenPageTest"/>
            <class name="testcases.AccessoriesTest"/>
        </classes>
    </test>

</suite>